.aboutme {
  background-color: #161616;
  padding-top: 0.1rem;
  padding-bottom: 4.8rem;
  height: 100%;
}

.txtAboutme {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.boxAbout {
  margin: auto;
}

.about-details {
  font-size: 1.85rem;
  margin-top: 5rem;
  color: #ffffff;
}

.textBox {
  display: flex;
  justify-content: center;
}

.textEdu {
  text-align: left;
  text-transform: uppercase;
  font-size: 2.1rem;
  margin-left: 40px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 7rem;
}
.boxUnderline {
  border: 2px solid #9e9e9e;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin-left: 125px;
  margin-right: 125px;
}

.boxRow {
  margin-top: 20px;
}
.txtYears {
  color: #ffffff;
  font-size: 1.65rem;
  list-style-type: square;
  margin-left: 40px;
  font-weight: bold;
}

.txtUnivercity {
  font-size: 1.5rem;
  color: #ffffff;
}
.txtMajor {
  font-size: 1rem;
  color: #949393;
}

@media (min-width: 1281px) {
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  IPads
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
   .aboutme {
    height: 100%;
  }
  .txtAboutme {
    text-align: center;
    font-size: 2.5rem;
  }
  .about-details {
    font-size: 1.2rem;
    color: #ffffff;
  }
  .boxUnderline {
    border: 0px solid;
    margin-left: 10px;
  }
  .textEdu {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    margin-top: 5rem;
    margin-left: 10px;
  }
  .boxRow {
    margin-top: 20px;
  }
  .txtYears {
    color: #ffffff;
    font-size: 1.3rem;
    list-style-type: square;
    text-align: start;
    margin-left: 5px;
    font-weight: bold;
  }
  .txtUnivercity {
    font-size: 1.2rem;
    color: #ffffff;
  }
  .txtMajor {
    font-size: 0.9rem;
    color: #949393;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  Iphone 6 7 8 X
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .aboutme {
    height: 100%;
  }
  .txtAboutme {
    font-size: 2rem;
  }
  .about-details {
    font-size: 1rem;
  }
  .boxUnderline {
    border: 0px solid;
    margin-left: -25px;
  }
  .textEdu {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-top: 3rem;
    margin-left: 20px;
  }
  .boxRow {
    margin-top: 20px;
  }
  .txtYears {
    color: #ffffff;
    font-size: 1rem;
    list-style-type: square;
    text-align: start;
    margin-left: 0px;
    font-weight: bold;
  }
  .txtUnivercity {
    font-size: 1rem;
    color: #ffffff;
  }
  .txtMajor {
    font-size: 0.8rem;
    color: #949393;
  }
}