.aboutme {
  padding-top: 100px;
  height: 90vh;
}
.txtAboutme {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}
.about-details {
  font-size: 1.85rem;
  color: #ffffff;
}
.textBox {
  
  display: flex;
  justify-content: center;
  padding: 50px;
  border: 1px solid #ffffff;
  border-radius: 60px;
}

@media (min-width: 360px) and (max-width: 420px) {
  .aboutme {
    padding-top: 40px;
    height: 90vh;
  }
  .txtAboutme {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .about-details {
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
  }
  .textBox {
    text-indent: 10px;
    text-align: justify;
    padding: 30px;
    border: 1px solid #ffffff;
    border-radius: 60px;
  }
}
@media (min-width: 421px) and (max-width: 480px) {
  .aboutme {
    padding-top: 85px;
    height: 90vh;
  }
  .txtAboutme {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .about-details {
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
  }
  .textBox {
    text-indent: 10px;
    text-align: justify;
    padding: 30px;
    border: 1px solid #ffffff;
    border-radius: 60px;
  }
}
