/****************************************** Contacts COMPONENT ********************************************/
.contacts {
  padding: 3rem 0;
  padding-top: 100px;
  padding-bottom: 140px;
}

.contacts h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  letter-spacing: 15px;
  margin-bottom: 20px;
}

.txtContacts {
  color: #ffffff;
  padding: 1.3rem 0;
}

.contacts p {
  color: #ffffff;
  font-size: 1rem;
}
.txtInput{
  font-size: 1.8rem;
  color: #ffffff;
  text-align: left;
  margin-bottom: 5px;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  background: #ffffff;
  border: 0px;
  color: #65B9EB;
}
.contact-btn:hover{
  background: #65B9EB;
  color: #ffffff;
}
.areaBtn{
  padding: 20px;
}
.picContacts{
  width: 60px;
}
.contactDetails{
  justify-content: center;
}
.txtMe{
  color: #ffffff;
  font-size: 1.5rem;
}
.txtTelEmail{
  color: #ffffff;
  font-size: 1.3rem;
}
.boxLR{
  text-align: left;
  margin-left: 15px;
}
.BoxDetail{
  margin-top: -40px;
}
.BoxInput{
  margin-top: -50px;
}
.text-warning{
  color: #ffffff;
}
/****************************************** INPUT ********************************************/
/*------------------ INPUTS -------------------------------*/
.contacts input,
.contacts textarea {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border: 0.125rem solid #ffffff;
  color: #65B9EB;
  border-radius: 10px;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts textarea {
  height: 12.2rem !important;
}

.contacts input:focus,
.contacts textarea:focus {
  border: 0px;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.success-message {
  font-weight: 900;
  color: #00ff7f;
}
.boxNameInput{
  padding-left: 20px;
  padding-right: 20px;
}
.boxEmailInput{
  margin-top: 53px;
  padding-left: 20px;
  padding-right: 20px;
}
.boxDescriptionInput{
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

/*---------------- MEDIA -----------------------*/

@media (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 20px;
    margin-top: -20px;
    font-size: 0.85rem;
  }

  .contacts h1 {
    color: #ffffff;
    font-size: 2.8rem;
  }
  .txtInput{
    font-size: 1.3rem;
    color: #ffffff;
    text-align: left;
  }
  .picContacts{
    width: 50px;
  }
  .contactDetails{
    justify-content: center;
  }
  .txtMe{
    color: #ffffff;
    font-size: 1.3rem;
  }
  .txtTelEmail{
    color: #ffffff;
    font-size: 1rem;
  }
  .boxLR{
    text-align: left;
    margin-left: 15px;
  }
  .BoxDetail{
    margin-top: -10px;
  }
  .BoxInput{
    margin-top: 50px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts input,
  .contacts textarea {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    background: none;
    resize: none;
    border: 0;
    border: 0.125rem solid #ffffff;
    color: #65B9EB;
    border-radius: 10px;
    outline: 0 !important;
    box-shadow: none !important;
    margin-bottom: 1rem;
    padding-left: 0 !important;
  }

  .contacts p {
    font-size: 0.55rem;

  }
  .contactDetails{
    justify-content: left;
    margin-left: 20px;
    margin-top: 12px;
  }
  .picContacts{
    width: 40px;
  }
  .boxNameInput{
    margin: 0
  }
  .boxEmailInput{
    margin-top: 30px;
  }
  .boxDescriptionInput{
    margin-top: 20px;
  }
  .txtInput{
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    margin-bottom: 5px;
  }
   .txtMe{
    color: #ffffff;
    font-size: 1rem;
  }
  .txtTelEmail{
    color: #ffffff;
    font-size: 0.8rem;
  }
  .boxLR{
    text-align: left;
    margin-left: 15px;
  }
  .BoxDetail{
    margin-top: -30px;
  }
  .BoxInput{
    margin-top: 50px;
  }
  .contact-btn {
    margin: 1rem 0 0 0;
    width: 100%;
    height: 35px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 10px;
    background: #ffffff;
    border: 0px;
    color: #65B9EB;
  }
  .areaBtn{
    margin-top: -20px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .contacts h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 10px;
    margin-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contacts h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: #ffffff;
    letter-spacing: 10px;
    margin-left: 20px;
  }
  .boxLR{
    text-align: left;
    margin-left: 8px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contacts h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 22px;
    font-weight: 600;
  }
}