/****************************** FOOTER ********************************/
.footer {
  background: #a9643e;
  color: #ffffff;
  padding: 1rem;
  height: 100%;
}
.textFooter{
  text-align: center;
}

.container-group {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer a:hover {
  text-decoration: none;
  color: #ff0000;
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}
.txtCopy{
  text-align: center;
  line-height: 40px;
}

@media (max-width: 768px) {
  .iconbox {
    margin-top: 2.5rem;
  }
  .txtCopy {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .txtCopy {
    font-size: 0.8rem;    
  }
}
