.header {
  display: flex;
  position: relative;
  height: 100vh;
}
.areaTop{
  margin-top: 200px;
}
.homeMain {
  display: flex;
}
.rightProfile{
  display: block;
  margin: auto;
}
.theport{
  font-size: 35px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 10px;
  line-height: 80px;
}
.firstName{
  font-size: 110px;
  font-weight: 600;
  color: #ffffff;
}
.lastName{
  font-size: 64px;
  font-weight: 600;
  color: #ffffff;
  line-height: 20px;
}
.descriptionPositon{
  font-size: 35px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 10px;
  line-height: 150px;
}
.mainpic {
  width: 500px;
  object-fit: contain;
  margin: auto auto;
  display: block;
}
.fixed-misc {
  position: fixed;
  top: 50%;
  right: -40px;
  transform: rotate(-90deg);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  color: #ffffff;
  z-index: 8;
}

@media (min-width: 360px) and (max-width: 480px) {
  .header {
    display: flex;
    position: relative;
    height: 100vh;
  }
  .areaTop{
    margin-top: 180px;
  }
  .mainpic {
    width: 300px;
    margin: auto auto;
    display: block;
  }
  .theport{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 50px;
  }
  .firstName{
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
  }
  .lastName{
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
  }
  .descriptionPositon{
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 80px;
  }
  .fixed-misc {
    position: fixed;
    top: 55%;
    right: -35px;
    transform: rotate(-90deg);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
}
@media (min-width: 481px) and (max-width: 641px) {
  .header {
    display: flex;
    position: relative;
    height: 100vh;
  }
  .areaTop{
    margin-top: 130px;
  }
  .mainpic {
    width: 350px;
    margin: auto auto;
    display: block;
  }
  .theport{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 50px;
  }
  .firstName{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
  }
  .lastName{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
  }
  .descriptionPositon{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 90px;
  }
  .fixed-misc {
    position: fixed;
    top: 55%;
    right: -35px;
    transform: rotate(-90deg);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
}
@media (min-width: 642px) and (max-width: 767px){
  .header {
    display: flex;
    position: relative;
    height: 85vh;
  }
  .areaTop{
    margin-top: 150px;
  }
  .mainpic {
    width: 360px;
    margin: auto auto;
    display: block;
  }
  .theport{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 50px;
  }
  .firstName{
    font-size: 80px;
    font-weight: 600;
    color: #ffffff;
  }
  .lastName{
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
  }
  .descriptionPositon{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 120px;
  }
  .fixed-misc {
    position: fixed;
    top: 60%;
    right: -35px;
    transform: rotate(-90deg);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
}
@media (min-width: 768px) and (max-width: 897px) {
  .header {
    display: flex;
    position: relative;
    height: 102vh;
  }
  .areaTop{
    margin-top: 150px;
  }
  .mainpic {
    width: 420px;
    margin: auto auto;
    display: block;
  }
  .theport{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 50px;
  }
  .firstName{
    font-size: 80px;
    font-weight: 600;
    color: #ffffff;
  }
  .lastName{
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
  }
  .descriptionPositon{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 120px;
  }
  .fixed-misc {
    position: fixed;
    top: 50%;
    right: -35px;
    transform: rotate(-90deg);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
}
@media (min-width: 898px) and (max-width: 1024px) {
  .header {
    display: flex;
    position: relative;
    height: 100vh;
  }
  .areaTop{
    margin-top: 250px;
  }
  .rightProfile{
    margin-top: 65px;
    padding-right: 15px;
  }
  .mainpic {
    width: 420px;
    margin: auto auto;
    display: block;
  }
  .theport{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 50px;
  }
  .firstName{
    font-size: 80px;
    font-weight: 600;
    color: #ffffff;
  }
  .lastName{
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
  }
  .descriptionPositon{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 120px;
  }
  .fixed-misc {
    position: fixed;
    top: 50%;
    right: -35px;
    transform: rotate(-90deg);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
}
@media (min-width: 1025px) and (max-width: 1126px) {
  .header {
    display: flex;
    position: relative;
    height: 100vh;
  }
  .areaTop{
    margin-top: 250px;
  }
  .homeMain {
    display: flex;
  }
  .rightProfile{
    display: block;
    margin: auto;
  }
  .theport{
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 10px;
    line-height: 80px;
  }
  .firstName{
    font-size: 110px;
    font-weight: 600;
    color: #ffffff;
  }
  .lastName{
    font-size: 64px;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
  }
  .descriptionPositon{
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 10px;
    line-height: 150px;
  }
 .mainpic {
    width: 420px;
    margin: auto auto;
    display: block;
  }
  .fixed-misc {
    position: fixed;
    top: 50%;
    right: -40px;
    transform: rotate(-90deg);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    color: #ffffff;
    z-index: 8;
  }
}
@media (min-width: 1127px) and (max-width: 1280px) {
  .header {
    display: flex;
    position: relative;
    height: 100vh;
  }
  .areaTop{
    margin-top: 200px;
  }
  .homeMain {
    display: flex;
  }
  .rightProfile{
    display: block;
    margin: auto;
  }
  .theport{
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 10px;
    line-height: 80px;
  }
  .firstName{
    font-size: 110px;
    font-weight: 600;
    color: #ffffff;
  }
  .lastName{
    font-size: 64px;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
  }
  .descriptionPositon{
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 10px;
    line-height: 150px;
  }
  .mainpic {
    width: 480px;
    object-fit: contain;
    margin: auto auto;
    display: block;
  }
  .fixed-misc {
    position: fixed;
    top: 50%;
    right: -48px;
    transform: rotate(-90deg);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    color: #ffffff;
    z-index: 8;
  }
}
