.header-wraper h1 {
  font-size: 5.8rem;
  text-transform: uppercase;
  letter-spacing: 30px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  mix-blend-mode: difference;
  z-index: 9;
}

.banner {
  display: flex;
  background: linear-gradient(90deg, #a9643e 50%, #161616 50%);
  position: relative;
  height: 105vh;
  margin: 0;
}

.homeMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  font-size: 5rem;
  font-family: "Krona One", sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 100px;
  font-weight: 900;
  color: #ffffff;
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding-left: 35px;
  padding-top: 20px;
}

.mainpic {
  width: 750px;
  margin: auto auto;
  display: block;
}

.scroll {
  font-weight: 700;
  font-size: 0.875rem;
  left: 155px;
  letter-spacing: 1.5px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 48px;
}
.fixed-misc {
  position: fixed;
  top: 50%;
  right: -100px;
  transform: rotate(-90deg);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  color: #ffffff;
  z-index: 8;
}

@media screen and (width: 1440px) {
  /* CSS */
  .banner {
    display: flex;
    background: linear-gradient(90deg, #a9643e 50%, #161616 50%);
    position: relative;
    height: 100vh;
    margin: 0;
  }
  .mainpic {
    width: 600px;
    margin: auto auto;
    display: block;
  }
  .homeMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  .main-text {
    font-size: 5rem;
    font-family: "Krona One", sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 100px;
    font-weight: 900;
    color: #ffffff;
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding-left: 35px;
    padding-top: 65px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  IPads
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .scroll {
  font-weight: 700;
  font-size: 0.875rem;
  left: 75px;
  letter-spacing: 1.5px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 48px;
  }
  .homeMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  .banner {
    display: flex;
    background: linear-gradient(90deg, #a9643e 50%, #161616 50%);
    position: relative;
    height: 100vh;
    margin: 0;
  }
  .mainpic {
    width: 600px;
    margin: auto auto;
    display: block;
  }
  .main-text {
    font-size: 4rem;
    font-family: "Krona One", sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 50px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding-left: 20px;
    z-index: 9;
    @media (max-width: 1440px) {
      font-size: 4.4rem;
      letter-spacing: 36px;
    }
}
  .scroll {
    font-weight: 600;
    font-size: 0.875rem;
    left: 60px;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    bottom: 60px;
  }
  .fixed-misc {
    position: fixed;
    top: 48%;
    right: -95px;
    transform: rotate(-90deg);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  Iphone 6 7 8 X
*/

@media (width: 414px) and (height: 736px) {
  .scroll {
    font-weight: 600;
    font-size: 0.875rem;
    margin-left: 13px;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    bottom: 60px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .banner {
    display: flex;
    background: linear-gradient(90deg, #a9643e 50%, #161616 50%);
    position: relative;
    height: 100vh;
    margin: 0;
  }
  .mainpic {
    width: 325px;
    margin: auto auto;
    display: block;
  }
  .main-text {
    font-size: 3rem;
    font-family: "Krona One", sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: 200;
    color: #ffffff;
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding-left: 10px;
    z-index: 9;
    @media (max-width: 1440px) {
      font-size: 4.4rem;
      letter-spacing: 36px;
    }
}
  .scroll {
    font-weight: 600;
    font-size: 0.875rem;
    left: 30px;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    bottom: 60px;
  }
  .fixed-misc {
    position: fixed;
    top: 48%;
    right: -77px;
    transform: rotate(-90deg);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
}
