.loading{ 
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100vh;
}
.images {
    display: block;
    margin: auto;
}

/* Large Desktop */
@media screen and (width: 1440px) {
    .images {
        display: block;
        margin: auto;
        margin-left: 25%;
    }
}
/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    .images {
        display: block;
        margin: auto;
        margin-left: 5%;
    }
}

/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .images {
        display: block;
        margin: auto;
        margin-left: -40px;
    }
}