@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

body {
  font-family: "Aldrich", sans-serif !important;
}
/****************************************** NAVBAR ********************************************/

nav {
  background: linear-gradient(90deg, #a9643e 50%, #161616 50%);
  z-index: 2;
}

.logo {
  width: 4.5rem;
  margin-left: 3.5rem;
  margin-top:  1rem;
}

.navbar-collapse {
  margin-right: 1rem;
  text-align: right;
}
.navbar-toggler {
  margin-right: 3rem;
}

/*----- MENU LINKS --------*/
nav a.nav-link {
  font-size: 20px;
  letter-spacing: 0.03rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 2rem;
  margin-left: 2rem;
  color: #ffffff !important;
  text-align: right;
  margin-top:  1.3rem;
}

.navbar-brand {
  max-width: 20rem;
  padding: 0 !important;
  height: 5rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid #a9643e;
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #a9643e;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  IPads
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  .logo {
    width: 4rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
  }
  .navbar-toggler {
    margin-right: 1rem;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  Iphone 6 7 8 X
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .navbar-brand {
    max-width: 25rem;
    height: 3rem !important;
  }
  .logo {
    width: 3rem;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
  }
  .navbar-toggler {
    margin-right: 0rem;
  }
}