.products{
    padding-top: 100px;
    padding-bottom: 100px;
}
.textProject{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: #ffffff;
    letter-spacing: 15px;
    margin-bottom: 50px;
}
.cardProject{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ffffff;
    background: #e2effb;
    border-radius: 20px;
}
.areaSlide{
    width: 620px;
    text-align: center;
    display: inline-block;
}
.itemProject{
    justify-content: center;
    align-items: center;
}
.detailProject{ 
    padding-bottom : 3rem;
}
.headerDetail{
    color: #65B9EB;
    font-weight: 300;
    font-size: 48px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 15px;
    margin-top: 10px;
}
.txtNameWork{
    font-size: 32px;
    font-weight: 500;
    color: #65B9EB;
    text-align: left;
    margin-top: 40px;
}
.txtWorkDetails{
    font-size: 18px;
    font-weight: 300;
    color: #65B9EB;
    text-align: left;
}
.group-btn{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    padding: 25px;
}
.linkTag{
    text-decoration: none;
}
.btn-figma{
    width: 120px;
    height: 35px;
    border: 2px solid #65B9EB;
    background-color:  transparent;
    /* color: #65B9EB; */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.btn-figma:hover{
    background-color: #65B9EB;
    color: #ffffff;
}
.icon-figma{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: -2px;
}
.btn-pdf{
    width: 120px;
    height: 35px;
    border: 2px solid #65B9EB;
    background-color: transparent;
    color: #65B9EB;
    border-radius: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}
.btn-pdf:hover{
    background-color: #65B9EB;
    color: #ffffff;
}
.text-button{
    font-size: 16px;
    color: #65B9EB;
    text-decoration: none;
}
.text-button:hover{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
@media (min-width: 360px) and (max-width: 480px) {
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        color: #ffffff;
        padding-bottom: 0px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 280px;
        text-align: center;
        display: inline-block;
        margin-left: -8px;
    }
    .cardProject{
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .txtNameWork{
        font-size: 20px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 14px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
    }
    .group-btn{
        position: absolute;
        bottom: 0;
        margin-bottom: -25px;
    }
    .btn-figma{
        width: 85px;
        height: 25px;
        border: 1.5px solid #65B9EB;
        background-color:  transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .icon-figma{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-top: -2px;
    }
    .btn-pdf{
        width: 85px;
        height: 25px;
        border: 1.5px solid #65B9EB;
        background-color: transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }
    .text-button{
        font-size: 8px;
        color: #65B9EB;
        text-decoration: none;
    }
    .text-button:hover{
        font-size: 8px;
    }
}
@media (min-width: 481px) and (max-width: 624px) {
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        color: #ffffff;
        margin-bottom: -30px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 350px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .txtNameWork{
        font-size: 24px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 16px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
    }
    .group-btn{
        position: absolute;
        bottom: 0;
        margin-bottom: -20px;
    }
    .btn-figma{
        width: 90px;
        height: 25px;
        border: 1.5px solid #65B9EB;
        background-color:  transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .icon-figma{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-top: -2px;
    }
    .btn-pdf{
        width: 90px;
        height: 25px;
        border: 1.5px solid #65B9EB;
        background-color: transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }
    .text-button{
        font-size: 9px;
        color: #65B9EB;
        text-decoration: none;
    }
    .text-button:hover{
        font-size: 9px;
    }
}
@media (min-width: 625px) and (max-width: 767px) {
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        margin-bottom: -30px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 420px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .txtNameWork{
        font-size: 24px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 16px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
    }
    .group-btn{
        position: absolute;
        bottom: 0;
        margin-bottom: -20px;
    }
    .btn-figma{
        width: 90px;
        height: 25px;
        border: 1.5px solid #65B9EB;
        background-color:  transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .icon-figma{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-top: -2px;
    }
    .btn-pdf{
        width: 90px;
        height: 25px;
        border: 1.5px solid #65B9EB;
        background-color: transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }
    .text-button{
        font-size: 11px;
        color: #65B9EB;
        text-decoration: none;
    }
    .text-button:hover{
        font-size: 11px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        margin-bottom: -30px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 370px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        padding: 15px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 8px;
    }
    .txtNameWork{
        font-size: 20px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 15px;
    }
    .txtWorkDetails{
        font-size: 13px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
    }
    .group-btn{
        position: absolute;
        bottom: 0;
        margin-bottom: -10px;
    }
    .btn-figma{
        width: 90px;
        height: 25px;
        border: 1.5px solid #65B9EB;
        background-color:  transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .icon-figma{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-top: -2px;
    }
    .btn-pdf{
        width: 90px;
        height: 25px;
        border: 1.5px solid #65B9EB;
        background-color: transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }
    .text-button{
        font-size: 11px;
        color: #65B9EB;
        text-decoration: none;
    }
    .text-button:hover{
        font-size: 11px;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        margin-bottom: -30px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 500px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
        margin-top: 85px;
        margin-bottom: 85px;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 36px;
        text-transform: uppercase;
    }
    .txtNameWork{
        font-size: 26px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 40px;
    }
    .txtWorkDetails{
        font-size: 16px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
    }
    .group-btn{
        position: absolute;
        bottom: 0;
        margin-bottom: -10px;
    }
    .btn-figma{
        width: 110px;
        height: 30px;
        border: 1.5px solid #65B9EB;
        background-color:  transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .icon-figma{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-top: -2px;
    }
    .btn-pdf{
        width: 110px;
        height: 30px;
        border: 1.5px solid #65B9EB;
        background-color: transparent;
        color: #65B9EB;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }
    .text-button{
        font-size: 14px;
        color: #65B9EB;
        text-decoration: none;
    }
    .text-button:hover{
        font-size: 14px;
    }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        margin-bottom: -30px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 500px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 40px;
        text-transform: uppercase;
    }
    .txtNameWork{
        font-size: 28px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 16px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
    } 
    .group-btn{
        position: absolute;
        bottom: 0;
        margin-bottom: -10px;
    }
    .btn-figma{
        width: 120px;
        height: 35px;
        border: 1.5px solid #65B9EB;
        background-color:  transparent;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .icon-figma{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-top: -2px;
    }
    .btn-pdf{
        width: 120px;
        height: 35px;
        border: 1.5px solid #65B9EB;
        background-color: transparent;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }
    .text-button{
        font-size: 15px;
        color: #65B9EB;
        text-decoration: none;
    }
    .text-button:hover{
        font-size: 15px;
    }
}
