.products{ 
    height: 150vh;
}
.textProject{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: #ffffff;
    padding-bottom: 20px;
    letter-spacing: 15px;
}
.cardProject{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ffffff;
    background: #e2effb;
    border-radius: 20px;
}
.areaSlide{
    width: 620px;
    text-align: center;
    display: inline-block;
}
.itemProject{
    justify-content: center;
    align-items: center;
}
.detailProject{ 
    padding-bottom : 3rem;
}
.headerDetail{
    color: #65B9EB;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 15px;
    margin-top: 10px;
}
.txtNameWork{
    font-size: 35px;
    font-weight: 500;
    color: #65B9EB;
    text-align: left;
    margin-top: 40px;
}
.txtWorkDetails{
    font-size: 20px;
    font-weight: 300;
    color: #65B9EB;
    text-align: left;
}

@media (min-width: 360px) and (max-width: 480px) {
    .products{ 
        height: 150vh;
    }
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        padding-bottom: 20px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 280px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        width: 100%;
        height: 430px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .txtNameWork{
        font-size: 20px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 18px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
}
@media (min-width: 481px) and (max-width: 624px) {
    .products{ 
        height: 150vh;
    }
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        padding-bottom: 20px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 350px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        width: 100%;
        height: 480px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .txtNameWork{
        font-size: 20px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 18px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
}
@media (min-width: 625px) and (max-width: 767px) {
    .products{ 
        height: 150vh;
    }
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        padding-bottom: 20px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 420px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        width: 100%;
        height: 480px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .txtNameWork{
        font-size: 20px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 18px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .products{ 
        height: 150vh;
    }
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        padding-bottom: 20px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 490px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        width: 100%;
        height: 550px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 38px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .txtNameWork{
        font-size: 28px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 22px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    .products{ 
        height: 150vh;
    }
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        padding-bottom: 20px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 580px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        width: 100%;
        height: 620px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 44px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .txtNameWork{
        font-size: 32px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 25px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .products{ 
        height: 150vh;
    }
    .textProject{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
        padding-bottom: 20px;
        letter-spacing: 15px;
    }
    .areaSlide{
        width: 590px;
        text-align: center;
        display: inline-block;
    }
    .cardProject{
        width: 100%;
        height: 620px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ffffff;
        background: #e2effb;
        border-radius: 20px;
        display: flex;
        margin: 0;
    }
    .headerDetail{
        color: #65B9EB;
        font-weight: 300;
        font-size: 44px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .txtNameWork{
        font-size: 32px;
        font-weight: 500;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    }
    .txtWorkDetails{
        font-size: 25px;
        font-weight: 300;
        color: #65B9EB;
        text-align: left;
        margin-top: 20px;
    } 
}
