@import "react-alice-carousel/lib/alice-carousel.css";

.project {
    padding-bottom: 2rem;
    background: #161616;
    padding: 0.7rem;
    padding-top: 6rem;
    height: 250vh;
}
.Box{
    height: 80vh;
}
.txtProject{
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5rem;
    color: #ffffff;
    padding-bottom: 20px;
}
.txtNameWork{
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
}
.areaProject{
    height: 550px;
}
.carouselBox{
    height: 500px;
    padding-left: 110px;
    padding-right: 135px;
    justify-content: center;
}
.CarouselPic{
    width: 85%;
}
.flexRow{
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}
.detailLeft {
    text-align: left;
    font-weight: bold;
    color: #ffffff;
}
.detailMiddle{
    color: #ffffff;
    padding-right: 1px;
}
.detailRight{
    color: #ffffff;
}
.boxToolM{
    border: 1px solid #ffffff ;
    padding: 5px;

}
.boxToolR{
    border: 1px solid #ffffff ;
    padding: 5px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  IPads
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  .project {
        background: #161616;
        padding: 0.7rem;
        padding-top: 4.5rem;
        height: 155vh;
    }
    .txtProject {
        font-size: 3rem;
        color: #ffffff;
        padding-bottom: 4.5px;
    }
    .Box{
        height: 50vh;
    }
    .carouselBox{
        height: 150px;
        justify-content: center;
    }
    .CarouselPic{
        width: 85%;
        margin-top: 10px;
        margin-left: 100px;
        padding: 2px;
    }
    .txtNameWork{
        font-size: 20px;
        font-weight: bold;
    }
    .txtWorkDetails{
        font-size: 15px;
    }
    .boxToolM{
        border: 1px solid #ffffff ;
        padding: 0px;
        font-size: 10px;
    }
    .boxToolR{
        border: 1px solid #ffffff ;
        padding: 0px;
        font-size: 10px;
    }
    .flexRow{
        margin-top: 200px;
    }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  Iphone 6 7 8 X
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .project {
        background: #161616;
        padding: 0.7rem;
        padding-top: 4.5rem;
        height: 155vh;
    }
    .txtProject {
        font-size: 1.8rem;
        color: #ffffff;
        padding-bottom: 4.5px;
    }
    .Box{
        height: 50vh;
    }
    .carouselBox{
        height: 150px;
        justify-content: center;
    }
    .CarouselPic{
        width: 100%;
        margin: 0px;
        margin-top: 10px;
        padding: 20px;
    }
    .txtNameWork{
        font-size: 14px;
        font-weight: bold;
    }
    .txtWorkDetails{
        font-size: 10px;
    }
    .boxToolM{
        border: 1px solid #ffffff ;
        padding: 0px;
        font-size: 8px;
    }
    .boxToolR{
        border: 1px solid #ffffff ;
        padding: 0px;
        font-size: 8px;
    }
    .flexRow{
        margin-top: 110px;
    }
}