/************************ SERVICES *********************************/
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 90vh;
}
.txtSkill {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 15px;
}
.picSkill{
  margin-top: 50px;
  width: 80%;
  justify-content: center;
  align-self: center;
}
.areaCard{
  padding: 35px;
  display: block;
  margin: auto;
}
.itemCardSkill{
  width: 130px;
  height: 200px;
  background: #e2effb;
  border-radius: 40px;
}
.txtDescript1{
  color: #9986EB;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 0px;
  margin-top: 30px;
}
.txtDescript2{
  color: #9986EB;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 360px) and (max-width: 401px) {
  .skills {
    height: 90vh;
  }
  .txtSkill {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 20px;
  }
  .picSkill{
    margin-top: 150px;
    width: 95%;
    justify-content: center;
    align-self: center;
  }
}
@media (min-width: 402px) and (max-width: 480px) {
  .skills {
    height: 90vh;
  }
  .txtSkill {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 20px;
  }
  .picSkill{
    margin-top: 120px;
    width: 90%;
    justify-content: center;
    align-self: center;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .skills {
    height: 90vh;
  }
  .txtSkill {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 20px;
  }
  .picSkill{
    margin-top: 120px;
    width: 90%;
    justify-content: center;
    align-self: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .skills {
    height: 90vh;
  }
  .txtSkill {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 22px;
  }
  .picSkill{
    margin-top: 120px;
    width: 85%;
    justify-content: center;
    align-self: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .skills {
    height: 100vh;
  }
  .txtSkill {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 22px;
  }
  .picSkill{
    margin-top: 40px;
    width: 80%;
    justify-content: center;
    align-self: center;
  }
}
