/************************ SERVICES *********************************/
.skills {
  background: #a9643e;
  padding-top: 6rem;
  padding-bottom: 8rem;
  height: 100%;
}
.textSkills {
    border: 2px solid #cea792;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-size: 2.1rem;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    text-transform: uppercase;
    text-align: left;
  }
  .rowSkills {
    padding-left:  80px;
    padding-right:  85px;
  }
  .listAbility {
    list-style-type: square;
    text-align: left;
    color: #ffffff;
    font-size: 1.85rem;
    line-height: 180%;
    margin-left: 40px;
  }

  .rowItem {
    margin-top: 20px;
  }

  .nameApp {
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.1rem;
  }
  .picAdobe {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }


@media (min-width: 1281px) {
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  IPads
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  .skills {
    padding-top: 6rem;
    padding-bottom: 8rem;
    height: 100%;
  }
  .textSkills {
    border: 2px solid #cea792;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-size: 1.4rem;
    color: #ffffff;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: 50px;
  }
  .listAbility {
    list-style-type: square;
    text-align: left;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 160%;
    margin-left: 10px;
  }
  .rowItem {
    margin-top: 20px;
  }
  .rowSkills {
    padding-left:  0px;
    padding-right:  0px;
  }
  .nameApp {
    margin-top: 10px;
    color: #ffffff;
    font-size: 1rem;
  }
  .picAdobe {
    width: 55px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  Iphone 6 7 8 X
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .skills {
    padding-top: 3.2rem;
    padding-bottom: 5rem;
    height: 100%;
  }
  .textSkills {
    border: 0px;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 20px;    
  }
  .boxSKills {
    margin-top: 15px;
  }
  .rowSkills {
    padding-left:  0px;
    padding-right:  0px;
  }
  .listAbility {
    list-style-type: square;
    text-align: left;
    color: #ffffff;
    font-size: 1rem;
    line-height: 180%;
    margin-left: 5px;
  }
  .picAdobe {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .nameApp{
    margin-top: 10px;
    color: #ffffff;
    font-size: 0.7rem;
  }
}