/************************ SERVICES *********************************/
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 95vh;
}
.txtSkill {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 15px;
}
.picSkill{
  width: 70%;
  margin-top: 38px;
}
.areaCard{
  padding: 15px;
  display: block;
  margin: auto;
}
.itemCardSkill{
  width: 171px;
  height: 243px;
  background: #e2effb;
  border-radius: 40px;
}
.txtDescript1{
  color: #9986EB;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 0px;
  margin-top: 30px;
}
.txtDescript2{
  color: #9986EB;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 360px) and (max-width: 401px) {
  .skills {
    height: 340vh;
  }
  .txtSkill {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 20px;
  }
}
@media (min-width: 402px) and (max-width: 480px) {
  .skills {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 185vh;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .skills {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 180vh;
  }
  .txtSkill {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .skills {
    height: 150vh;
  }
  .txtSkill {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 22px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .skills {
    height: 120vh;
  }
  .txtSkill {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 15px;
    margin-left: 22px;
  }
}
