.texteffect{
    background: #161616;
    padding: 0.7rem;
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
    height: 100%;
}
.txtLogoBrand{
    text-transform: uppercase;
}
/* Large Desktop */
/* @media (max-width: 768px) {} */
@media screen and (max-width: 1024px) {
   
}
/* tablet */
/* @media (max-height: 570px) {} */
@media screen and (max-width: 780px) {
    .texteffect{
        background: #161616;
        padding: 0.7rem;
        padding-top: 10%;
        padding-bottom: 15%;
        height: 100%; 
    }
}

/* mobile */
/* @media (max-height: 280px) */
@media (max-width: 480px) {
    .texteffect{
        background: #161616;
        padding: 0.7rem;
        padding-top: 10%;
        padding-bottom: 15%;
        height: 100%; 
    }
    .teLOBR{
        font-size: 1rem;
    }
}